.container
{
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    min-width: 100px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-title
{
    font-size: 0.9rem;
    font-weight: 500;
}

.arrow-icon
{
    width: 1rem;
    height: 1rem;
}

.arrow-icon.expand
{
    transform: rotate(180deg);
}

.filter-option-list
{
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
    right: 0;
    position: absolute;
    height: 200px;
}
